.git
.data
.env
.env.*
!.env.example
node_modules
**/node_modules
dist
**/.next
**/.turbo
**/dist
**/build
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
npm-debug.log*
*.zip
*.tar
*.gz
.DS_Store
__MACOSX
